@{
    ViewBag.Title = string.Format("WorkflowEngine NET 2 :: {0}", ViewBag.Title);
}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
         <div style="text-align: center; position:fixed;left:50%;margin-left: -200px; z-index:1000 ">
             <a class="button2" target="_blank" href="/designer">Workflow Designer</a>
             <a class="button2" target="_blank" href="https://workflowengine.io/documentation/">Documentation</a>
              <a class="button2" target="_blank" href="https://workflowengine.io/pricing">Pricing</a>
        </div>
        <div class="container">
            <header class="header clearfix">

                <a style="text-decoration:none" href="/"><div class="logo" style="color:red">WorkfolowEngine NET 2.1</div></a>

                @Html.Partial("Partial/MainMenu")

            </header>
            <div class="info">
                <article class="article clearfix">
                    <div class="clearfix"></div>
                    @RenderBody()
                </article>
            </div>
            @Html.Partial("Partial/Footer")
        </div>
    </body>
</html>