@{
    ViewBag.Title = string.Format("WorkflowEngine NET :: {0}", ViewBag.Title);
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/js/jquery.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/css/semantic.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/css/pace-theme-minimal.css")" rel="stylesheet" type="text/css" />
    <script>window.paceOptions = { restartOnPushState: false };</script>
    <script src="@Url.Content("~/js/pace.min.js")" type="text/javascript"></script>


    <meta name="viewport" content="width=device-width">
</head>
<body>
    <script>
        $(document).ajaxStart(function () { Pace.restart(); });
    </script>
    @(await Html.PartialAsync("Partial/MainMenu"))
    <div id="content" class="wfe-application">
        <div class="wfe-application-topmenu">
            @(await Html.PartialAsync("Partial/Folders"))
            @(await Html.PartialAsync("Partial/Header"))
        </div>
        <div style="clear: both;"></div>
        <div class="wfe-application-content">
            @RenderBody()
        </div>
        @(await Html.PartialAsync("Partial/Footer"))
    </div>
</body>
</html>